@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jr88dk');
  src:  url('../fonts/icomoon.eot?jr88dk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jr88dk') format('truetype'),
    url('../fonts/icomoon.woff?jr88dk') format('woff'),
    url('../fonts/icomoon.svg?jr88dk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e906";
}
.icon-pencil2:before {
  content: "\e907";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-printer:before {
  content: "\e954";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-filter:before {
  content: "\ea5b";
}
.icon-file-excel:before {
  content: "\eae2";
}




.iconos:hover {
  color:#d1b900
}

html{
background-repeat: repeat-x;
  background-color: rgb(255,245,173);
}

a{
  text-decoration: none;
  color:inherit;
}

a:hover{
  text-decoration: none;
  color:inherit;
}

.modal{
  width: 450px;
  margin-left: -175px;
}


.table-dos{
	height: 200px;
	overflow-y: visible;

}

.formulario{
	font-size: 20px;
	font-weight: bold;
}

.informe{
	position: absolute;
	top: 40px;
	left: 500px;
	width: 200px;
	height: 150px;
	background-color: red;
	border: 2px solid black;

}

table.tablesorter thead tr .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.gif);
}

.flecha{
  background-image: url(../img/asc1.gif);
  background-repeat: no-repeat;
  background-position: center right;
}

a .dropdown-item::hover{
  background-color: #d1b900;
}

.btn-index img{
  padding-top:20px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border:5px outset #FDE327
}
.btn-index a img:hover{
  border:5px inset #FDE327
}

.contenedor{
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.totales{
  text-decoration: none;
  list-style: none;
  font-size: 1.1em;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  margin: 0;
  background-color: #f9f9f9;
}

ul.totales li{
    line-height: 35px;  
}

.modificar{
  display: none;
  width: 300px;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  background-color: grey;
  border:1px solid black;
}

.tabla-status{
  border:1px solid black;
}

.alerta-vencido{
  box-shadow: 1px 1px 15px 5px rgba(255,0,0,0);
  animation-name: vencido;
  animation-duration: 1s;
  animation-iteration-count:infinite;
}

@keyframes vencido {
    from {box-shadow: 1px 1px 15px 5px rgba(255,0,0,0);}
    to {box-shadow: 1px 1px 15px 5px rgba(255,0,0,1);}
}

.alerta-proximo{
  box-shadow: 1px 1px 15px 5px rgba(255,0,0,0);
  animation-name: proximo;
  animation-duration: 2s;
  animation-iteration-count:infinite;
}

@keyframes proximo {
    from {box-shadow: 1px 1px 15px 5px rgba(255,171,9,0);}
    to {box-shadow: 1px 1px 15px 5px rgba(255,171,9,1);}
}

.modal-body h5{
  margin-bottom: 5px;
  padding-bottom: 0;
}

.comparacion{
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

.modal-body h4:hover{
color:#bba91e;
}

.cuerpo-modal{
  display: inline-block;
  width: 48%;
  height: auto;
  font-size: 14px;
  text-align: right;
}

.ir-arriba {
  display:none;
  padding:20px;
  background:#f9f9f9f9;
  border-radius: 15px;
  font-size:20px;
  font-weight:bolder;
  color:#fde327;
  cursor:pointer;
  position: fixed;
  bottom:20px;
  right:20px;
  box-shadow: 1px 1px 1px#3D3D3D;
  text-shadow: 1px 1px 1px#3D3D3D;;
}

.formulas{
  height: 150px;
  max-height: 150px;
  overflow-y: visible;
}



.labels{
  text-decoration: none;
}



.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  display: none;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}
.modalDialog > div {
  width: 1200px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #F4F4F4);
  background: -webkit-linear-gradient(#fff, #F4F4F4);
  background: -o-linear-gradient(#fff, #F4F4F4);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
  line-height: 25px;
  position: absolute;
  opacity:100;
  right:10px;
  text-align: center;
  top: 0;
  width: 18px;
}
.close:hover { background: #00d9ff; }



.loading {
    text-align: center;
}

.select2-results__option{

  line-height: 1em;

}

.select2-results__group{

  background-color: rgba(91,91,91,.1);

}

footer{
  line-height: 10px;
}



